<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>PhoneMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <servlet-class>com.RemoveCartItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveCartItemServlet</servlet-name>
    <url-pattern>/RemoveCartItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>com.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PasswordServlet</servlet-name>
    <servlet-class>com.PasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordServlet</servlet-name>
    <url-pattern>/PasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderShipServlet</servlet-name>
    <servlet-class>com.OrderShipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderShipServlet</servlet-name>
    <url-pattern>/OrderShipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <servlet-class>com.OrderConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmServlet</servlet-name>
    <url-pattern>/OrderConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
		<servlet-name>DeleteItemServlet</servlet-name>
		<servlet-class>com.DeleteItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteItemServlet</servlet-name>
		<url-pattern>/DeleteItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyItemServlet</servlet-name>
		<servlet-class>com.ModifyItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyItemServlet</servlet-name>
		<url-pattern>/ModifyItemServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>UploadImageServlet</display-name>
		<servlet-name>UploadImageServlet</servlet-name>
		<servlet-class>com.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImageServlet</servlet-name>
		<url-pattern>/UploadImageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadItemServlet</servlet-name>
		<servlet-class>com.UploadItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadItemServlet</servlet-name>
		<url-pattern>/UploadItemServlet</url-pattern>
	</servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>